@import url('https://fonts.google.com/specimen/Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

main h2, p{
    text-align: center;
}

.lead{
    margin: 40px 0;
}


/* .leads h2,p{
    text-align: center;
} */


.cards{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-items:  center; */
    grid-template-rows: auto;
    gap: 20px;
   
}
.card{
    
  
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    border: 1px solid hsl(229, 6%, 66%);
    box-shadow: 2px 0 2px solid hsl(0, 0%, 98%);
}
.card p{
    text-align: left;
    font-size: 16px;
    margin: 10px 0;

}

.card h4{
    font-size: 22px;
    font-weight: 700;
    margin: 5px 0;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
} 

.icon img{
    width: 40px;
}

.card1{
    grid-column: 2/4;
    grid-row: span 2;
   
}

.card2{
    grid-column: 2/4;
   
}

.card3{
grid-column: 4/5;
    grid-row: 2;
}

.card4{
    grid-row: 2;
}

/* .card1{
    
    grid-column: 2/4;

    border-top: 4px solid red;
}
.card2{
    border-top: 4px solid red;
    grid-column: -4/-2;
    
}

.card3{
    border-top: 4px solid hsl(34, 97%, 64%);
 grid-column: 4/5;
 grid-row: 2;
    
}
.card4{
    border-top: 4px solid hsl(212, 86%, 64%);
    grid-column: 1/-4;
    grid-row: 2;
 
} */

@media (max-width: 485px) {

    .lead{
        margin: 20px 10px;
    }

    .lead h2{
        font-size: 25px;
       
        margin: 10px;
    }

    .lead p{
        font-size: 19px;
        line-height: 20px;
        font-weight: 500;
    }
    .cards{
        display: block;
        width: fit-content;
        
        
        
    }

    .card{
        width: 77%;
        margin: 10px auto;
    }
}